.page {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 0.5vmin);
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    min-width: 490px;
}

.app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-template-areas:
    "search state"
    'table table'
    'pagination pagination'
    'info info'
}

.app__search {
    grid-area: search
}

.app__state {
    grid-area: state;

}

.app__search_input, .app__state_input {
    text-align: center;
    width: 90%;
    outline: none;
    border: none;
}

.app__state_input {

}

.app__table {
    grid-area: table
}

.app__pagination {
    grid-area: pagination
}

.app__infoForm {
    grid-area: info
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
